aiohttp==3.8.4
quart==0.18.4
langchain==0.0.139
openai==0.27.4
python-dotenv==1.0.0
pinecone-client==2.2.1
mysql-connector-python==8.0.28
cryptography==39.0.1
aiofile==3.8.5
aiomysql==0.1.1
tiktoken==0.3.3
newrelic==8.8.0
nr-openai-observability==0.2.4